/*doc.index.html*/
body{font:14px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;margin:0;padding:0;}
ul{margin:0; padding:0;}
li{list-style:none;}
table.wrap{vertical-align:top;height:100%;width:100%;}
table.wrap td{vertical-align:top;}
#docmenu{width:200px; background:#1d1c22; color:#fff; font-size:14px;}
#docmenu h1{background:#232529;margin:0}
#docmenu h1 a{text-decoration:none!important;display:block;font-size:32px;color:#eee;height:70px;line-height:70px;padding-left:12px;}
#docmenu .mod{margin:0 1px;}
#docmenu .mod{margin:0 1px;}
#docmenu .mod h4{line-height:2em;height:2em;text-indent:0.5em;background:#333;color:#999999;margin:2px;cursor:pointer;font-size:16px}
#docmenu .mod div{display:none;}
#docmenu .mod .item{display:none;}
#docmenu .mod .itemsbox{margin-left:8px;display:none;}
#docmenu .mod .item{margin-left:16px;font-family:"Lucida Sans Unicode"}
#docmenu .mod .itemsbox li,
#docmenu .mod .item li{line-height:2;height:2em;text-indent:0.6em;cursor:pointer;background:#555;color:#ccc;margin-bottom:1px;font-family:"Lucida Sans Unicode";}
#docmenu .mod .itemsbox li:hover,
#docmenu .mod .item li:hover{background:#3e4043;color:#FED16A;}
#docmenu .mod h5{line-height:2em;height:2em;text-indent:0.6em;background:#444;color:#ccc;margin:1px 0;margin-left:1px;border-left:8px solid #000;cursor:pointer;}
#docmenu .mod .show{display:block;}

iframe{border:none;}


/*doc.detail.html*/
.doc{font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;padding:20px 40px; font-size:14px; line-height:24px;}

p{margin:4px 0;padding:0;}
ul{margin:0;padding:0;list-style:none;}
h4{margin:8px 0; line-height:30px; font-size:14px; }

.caption{ height:50px; line-height:50px; overflow:hidden; border-bottom:1px solid #e0e0e0; margin-bottom:30px; } 
.caption h2{margin:0; font-size:28px; font-family:arial; float:left; height:50px; line-height:50px; } 
.caption h2 span{ font-size:16px; color:#666; font-weight:400; line-height:30px; position:relative; top:-3px; } 
.caption h2 em{ font-style:italic; color:#999; } 
.caption .type{ font-size:12px; color:#fff; height:20px; line-height:20px; width:65px; text-align:center; float:left; margin:18px 0 0 10px; } 
.caption .static{ background:#bbb; } 
.caption .constructor{ background:#028fc4; } 
.caption .prototype{ background:#46ca3b; } 
.caption .global{ background:#252525; } 
.caption .file{ float:right; font-size:13px; color:#666; line-height:60px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; }
.caption .data_type{ float:left; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#666; font-size:13px; margin:2px 0 0 10px; }
.caption .isprototype{background:#46ca3b; font-size:12px; color:#fff; height:20px; line-height:20px; width:65px; text-align:center; float:left; margin:18px 0 0 10px;}

.mod_desc{ background:#f5f5f5; padding:20px 20px 0; } 
.mod_desc p{ padding-bottom:20px; margin:0;}


.syntaxs-box{margin-bottom:24px;}
.syntaxs-box li{margin-bottom:8px; background:#f5f5f5; padding:6px 12px;}

.syntaxs-box .syntax{overflow:hidden}
.syntaxs-box .syntax .name{font-weight:bold; font-size:14px; font-family:arial;}
.syntaxs-box .syntax .desc{padding-left:1em;}
.syntaxs-box .syntax em{font-style:normal; font-weight:normal; color:green;}

.params-box{margin-bottom:24px;}
.params-box li{margin-bottom:14px;}
.params-box p{}
.params-box .flag, 
.params-box .flag-need{background:#bbb; color:#fff; font-size:12px; line-height:1; padding:3px 8px;}
.params-box .name{color:green; font-weight:bold; font-family:arial;}
.params-box .type{margin-left:2em; font-family:"Lucida Sans Unicode"; font-weight:bold;}
.params-box .desc{margin-left:1em; }
.params-box .flag-need{background:#46ca3b;}


.more-box{margin-bottom:24px;}
.mytable{border-collapse:collapse; border-bottom:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-top:20px;}
.mytable tr td{ line-height:20px; padding:0.6em 2em; text-align:center; border-right:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#666; font-size:13px; }
.mytable th{ background:#f5f5f5; line-height:40px; border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5; font-weight:700; border-top:2px solid #028fc4; text-align:center; }
.mytable .bg td{background:#f5f5f5;}

.return-box{margin-bottom:24px;}
.return-box .flag{background:#46ca3b; color:#fff; font-size:12px; line-height:1; padding:3px 6px;}
.return-box .desc{}
.return-box .type{font-weight:bold; padding-left:1em; font-family:"Lucida Sans Unicode";}
